<div id="about_project_part">
  <div class="about_project_part_overlay">
    <h3>Park Kultur — это творческое объединение, которое занимается постановкой спектаклей, проведением тренингов и организацией мероприятий.<br><br>
      Уже несколько лет мы радуем зрителей Москвы спектаклями, сочетающие в себе классические традиции и современные тенденции театрального искусства. Также проводим мероприятия для людей 18-40 лет, интересующихся культурой, театром и современным искусством.</h3>
  </div>
</div>
