<header>
  <nav class="nav_top">
    <ul class="nav_bar">
      <li class="logo">
        <a class="button nav_link" id="burger_btn" href="#initial_block">
          <div class="logo_photo">
            <img src="media/Logo/Logo_White.webp" alt="logo">
          </div>
        </a>
      </li>
      <input type="checkbox" id="check">

      <span class="menu">
        <li><a class="button nav_link" href="#about_project_block">о проекте</a></li>
        <li><a class="button nav_link" href="#about_us_block">о нас</a></li>
        <li><a class="button nav_link" href="#theatre_block">театр</a></li>
        <li><a class="button nav_link" href="#affiche_page">афиша</a></li>
        <li><a class="button nav_link" href="#actors_page">актёры</a></li>
        <li><a class="button nav_link" href="#contacts_page">контакты</a></li>

        <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
      </span>
      <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
    </ul>
  </nav>
</header>
