@media screen and (max-width: 575px) {
  body {
    width: 100%;
    font-size: 5px;
  }

  header {
    height: 64px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.2s ease-in-out;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked~.menu {
    right: 0;
  }

  .nav_bar {
    height: 3.16em;
  }

  .nav_link{
    font-size: 3.5em;
  }

  .logo {
    padding-left: 3.15em;
  }

  .logo img {
    height: 4em;
  }

  .text{
    height: 24%;
  }

  #first_page h1 {
    font-size: 13em;
    padding: 0px 30px 0px 30px;
  }

  #first_page h2 {
    font-size: 3.8em;
  }

  .scroll_down_text{
    font-size: 2.7em;
  }

  .scroll_down_container {
      position: fixed;
      right: 4vh !important;
      bottom: 4vh !important;
    }


  .second_page_overlay h3 {
    font-size: 3em;
  }


  .third_page_heading {
    font-size: 65px;
    padding-bottom: 70px;
    padding-left: 45px;
  }

  .we_gallery_nav{
    gap: 40px;
  }

  #fourth_page {
    height: 1200px;
    min-height: 1200px;
  }

  .fourth_page_heading {
    font-size: 55px;
    padding-left: 45px;
    padding-bottom: 65px;
  }

  #call-form {
    width: 250px;
    height: 240px;
    font-size: 22px;
  }

  #call-form-2 {
    width: 250px;
    height: 240px;
    font-size: 22px;
  }

  .theater {
    height: 980px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .our_shows {
    width: 100%;
    height: 980px;
    gap: 250px;    
    flex-direction: column;
    justify-content: start;
  }

  .modal-parent {
    padding-top: 0px;
    height: 100%;
  }

  .modal-wrapper {
    height: 99%;
  }

  .modal {
    width: 85%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
    padding: 10px 5px 5px 5px;
  }

  .modal_info {
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  p.modal_text {
    font-size: 14px;
  }

  h2.modal_title {
    font-size: 25px;
  }

  .modal_gallery_all {
    height: auto;
    margin-top: 30px;
    width: 90%;
    height: 90%;
  }

  .modal_card_image {
    max-height: 176px !important;
  }

  .buy_ticket {
    font-size: 13px;
  }

  .modal_gallery_nav {
    margin-top: 10px;
  }


  #fifth_page {
    height: 1130px;
    min-height: 1130px;
  }

  .fifth_page_heading {
    font-size: 55px;
    padding-left: 45px;
    padding-bottom: 10px;
  }

  .afisha_day.afisha_text {
    height: auto;
    font-size: 25px;
  }

  .afisha_text {
    font-size: 17px;
  }

  .afisha_ticket {
    font-size: 15px;
    border: 1px solid #6c879d;
  }

  .afisha_info {
    text-align: center;
  }

  .afisha_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .afisha_description {
    width: 250px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #6c879d;
    margin-bottom: 20px;
  }

  .afisha_day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .afisha_event {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 200px;
    border-bottom: 1.5px solid #6c879d;
    padding: 10px 20px 40px 20px;
    margin-top: 30px;
  }

  #sixth_page {
    height: 600px;
    min-height: 600px !important;
  }

  .sixth_page_heading {
    font-size: 55px;
    padding: 75px 0px 45px 45px;
  }

  .fourth_page_images {
    width: 300px;
    height: 300px;
  }

  #seventh_page {
    height: 950px;
    min-height: 950px;
  }

  .seventh_page_heading {
    font-size: 55px;
  }

  .contact_heading {
    font-size: 23px !important;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 70px;
  }

  .contact_person {
    width: 250px;
    font-size: 15px;
  }

  .contact_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

  .contact_info_1 {
    margin-top: 40px;
  }

  .media_links_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  #media_links_1 {
    margin: 20px;
  }

  .google_form_button {
    font-size: 16px;
  }

  .fa-brands {
    font-size: 45px;
  }

  .fa-brands.fa-youtube {
    margin: 0px;
  }
}


@media screen and (min-width: 544px) and (max-width: 575px){
  .text{
    height: 15%;
  }
}


@media screen and (min-width: 576px) and (max-width: 767px) {

  .nav_link{
    font-size: 1.3em;
  }

  .logo {
    padding-left: 1em;
  }

  .logo img {
    height: 3em;
  }


  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.2s ease-in-out;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked~.menu {
    right: 0;
  }

  #first_page h1 {
    font-size: 5em;
    padding: 0px 30px 0px 30px;
  }

  #first_page h2 {
    font-size: 2.1em;
  }

  .scroll_down_text{
    font-size: 1.17em;
  }

  .scroll_down_container {
    position: fixed;
    right: 4vh !important;
    bottom: 4vh !important;
  }

  .second_page_overlay h3 {
    font-size: 1.3em;
  }

  .third_page_heading {
    font-size: 90px;
    padding-bottom: 70px;
    padding-left: 45px;
  }

  #fourth_page{
    height: 700px;
    min-height: 700px;
  }

  .fourth_page_heading {
    font-size: 90px;
    padding-bottom: 30px;
    padding-left: 45px;
  }


  #call-form {
    width: 200px;
    height: 330px;
    font-size: 20px;
  }

  #call-form-2 {
    width: 200px;
    height: 330px;
    font-size: 20px;
  }

  .theater {
    height: 428px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our_shows {
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }

  .modal-parent {
    padding-top: 0px;
    height: 100%;
  }

  .modal-wrapper {
    height: 99%;
  }

  .modal {
    width: 85%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
    padding: 15px 5px 15px 5px;  
  }

  .modal_info {
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  p.modal_text {
    font-size: 15px;
  }

  h2.modal_title {
    font-size: 28px;
  }

  .modal_gallery {
    height: 250px !important;
  }

  .modal_gallery_all {
    margin-top: 30px;
    width: 90%;
    height: 500px !important;
  }

  .modal_card_image {
    max-height: 250px !important;
  }

  .buy_ticket {
    font-size: 13px;
  }

  #fifth_page {
    height: 1050px;
    min-height: 1050px;
  }

  .fifth_page_heading {
    font-size: 90px;
    padding-bottom: 30px;
    padding-left: 45px;
  }

  .afisha_day.afisha_text {
    height: auto;
    font-size: 25px;
  }

  .afisha_text {
    font-size: 20px;
  }

  .afisha_ticket {
    font-size: 15px;
    border: 1px solid #6c879d;
  }

  .afisha_info {
    text-align: center;
  }

  .afisha_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .afisha_description {
    width: 450px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #6c879d;
    margin-bottom: 20px;
  }

  .afisha_day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .afisha_event {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 160px;
    border-bottom: 1.5px solid #6c879d;
    padding: 10px 20px 40px 20px;
    margin-top: 30px;
  }


  .sixth_page_heading {
    font-size: 90px;
    padding-bottom: 70px;
    padding-left: 45px;
  }

  #seventh_page {
    height: 950px;
    min-height: 950px;
  }

  .seventh_page_heading {
    font-size: 90px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 70px;
  }

  .contact_info_1 {
    margin-top: 40px;
  }

  #media_links_1 {
    margin: 20px;
  }

  .media_links_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  .google_form_button {
    font-size: 16px;
  }
}


@media screen and (min-width: 656px) and (max-width: 767px){
  .text{
    height: 18%;
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {

  .nav_bar {
    height: 3.16em;
  }

  .nav_link{
    font-size: 1.1em;
  }

  .logo {
    padding-left: 1em;
  }

  .logo img {
    height: 4em;
  }

  .text{
    height: 20%;
  }

  #first_page h1 {
    font-size: 5.5em;
    padding: 0px 30px 0px 30px;
  }

  #first_page h2 {
    font-size: 2.1em;
  }

  .scroll_down_text {
    font-size: 1.17em;
  }

  .scroll_down_container {
    position: fixed;
    right: 4vh !important;
    bottom: 4vh !important;
  }

  .second_page_overlay h3 {
    font-size: 1.6em;
  }

  .third_page_heading {
    font-size: 95px;
  }

  .fourth_page_heading {
    font-size: 95px;
  }

  #call-form {
    width: 275px;
    height: 400px;
  }

  #call-form-2 {
    width: 275px;
    height: 400px;
  }

  .theater {
    height: 428px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our_shows {
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }

  .modal-parent {
    padding-top: 0px;
    height: 100%;
  }

  .modal-wrapper {
    height: 100%;
  }

  .modal {
    width: 85%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
    padding: 15px 5px 15px 5px;
  }

  .modal_info {
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  p.modal_text {
    font-size: 20px;
  }

  .modal_gallery_all {
    margin-top: 30px;
    width: 500px;
    height: 500px;
  }

  .swiper {
    align-items: center;
  }

  .modal_card_image {
    width: 650px;
    max-height: 337px !important;
  }

  .modal_title {
    padding-top: 40px;
  }

  .fifth_page_heading {
    font-size: 95px;
  }

  .sixth_page_heading {
    font-size: 95px;
  }

  .modal_gallery_nav {
    padding-bottom: 20px;
  }
}


@media screen and (min-width: 992px) and (max-width: 1119px) {

  .nav_bar {
    height: 3.16em;
  }

  .logo {
    padding-left: 1em;
  }

  .logo img {
    height: 4em;
  }

  .text{
    height: 30%;
  }

  #first_page h1 {
    font-size: 7em;
  }

  #first_page h2 {
    font-size: 2.9em;
  }

  .third_page_heading {
    font-size: 105px;
  }


  .fourth_page_heading {
    font-size: 105px;
  }

  .scroll_down_text {
    font-size: 1.35em;
  }

  .scroll_down_container {
    position: fixed;
    right: 4vh !important;
    bottom: 4vh !important;
  }

  #call-form {
    width: 275px;
    height: 400px;
  }

  #call-form-2 {
    width: 275px;
    height: 400px;
  }

  .theater {
    height: 428px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our_shows {
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }

  .modal-parent {
    padding-top: 0px;
    height: 100%;
  }

  .modal-wrapper {
    height: 100%;
  }

  .modal {
    width: 85%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
  }

  .modal_info {
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 50px;
  }

  p.modal_text {
    font-size: 20px;
  }

  .modal_gallery_all {
    margin-top: 30px;
    width: 650px;
    height: 500px;
  }


  .swiper{
    align-items: center;
  }

  .modal_card_image{
    width: 650px;
    max-height: 414px !important;
  }

  .modal_gallery_nav{
    margin-bottom: 30px;
  }
  
  .fifth_page_heading {
    font-size: 105px;
  }

  .sixth_page_heading {
    font-size: 105px;
  }
}


@media screen and (min-width: 1120px) and (max-width: 1215px){
  .text{
    height: 30%;
  }

  #first_page h1 {
    font-size: 7em;
  }

  #first_page h2 {
    font-size: 2.9em;
  }

  .scroll_down_text {
    font-size: 1.35em;
  }

  .scroll_down_container {
    position: fixed;
    right: 4vh !important;
    bottom: 4vh !important;
  }


  .modal-parent {
    padding-top: 0px;
    height: 100%;
  }

  .modal-wrapper {
    height: 100%;
  }

  .modal {
    width: 85%;
    height: 85%;
    overflow: scroll;
    margin: 0px;
  }

  .modal_card_image {
    width: 615px;
  }
} 


@media screen and (max-height: 730px) {
  #first_page{
    min-height: 730px;
  }

  #second_page{
    min-height: 730px;
  }

  #third_page {
    min-height: 730px;
  }

  #fourth_page {
    min-height: 730px;
  }

  #fifth_page {
    min-height: 730px;
  }

  #sixth_page {
    min-height: 730px;
  }

  #seventh_page {
    min-height: 730px;
  }
}

@media screen and (min-height: 810px) {
  .scroll_down_container {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}