@media screen and (max-width: 575px) {
  body {
    width: 100%;
    font-size: 5px;
  }

  header {
    height: 64px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.2s ease-in-out;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked~.menu {
    right: 0;
  }

  .nav_bar {
    height: 3.16em;
  }

  .nav_link{
    font-size: 3.5em;
  }

  .logo {
    padding-left: 3.15em;
  }

  .logo img {
    height: 4em;
  }

  .text{
    height: 24%;
  }

  #initial_block h1 {
    font-size: 13em;
    padding: 0px 30px 0px 30px;
  }

  #initial_block h2 {
    font-size: 3.8em;
  }

  .initial_text_overlay_top{
    top: 64px;
  }

  .initial_text_overlay_bottom{
    bottom: 200px;
  } 

  .scroll_down_text{
    font-size: 2.7em;
  }
  .scroll_down_container{
    text-underline-offset: 0.5em;
  }

  .about_project_block_overlay h3 {
    font-size: 3em;
    width: 85%;
  }

  #about_us_block {
    height: fit-content;
    min-height: fit-content;
  }

  .about_us_block_heading {
    font-size: 65px;
    padding-bottom: 30px;
    padding-left: 45px;
  }

  .about_us_block_paragraph h3 {
    font-size: 3em;
    width: 75%;
  }

  .about_us_img img {
    width: 300px !important;
    height: 300px !important;
  }

  /* .about_us_content>div {
    flex: 0 0 97%;
    max-width: 97%;
  } */
  
  .about_us_cards h2 {
    font-size: 33px;
  }

  .actors_cards h2{
    font-size: 33px;
  }

  .about_us_cards p {
    font-size: 27px;
  }

  .we_gallery_nav{
    gap: 40px;
  }

  #theatre_block {
    height: fit-content;
    min-height: fit-content;
  }

  .theatre_block_heading {
    font-size: 55px;
    padding-left: 45px;
    padding-bottom: 65px;
  }

  #call-form {
    width: 250px;
    height: max-content;
    font-size: 22px;
  }

  #call-form-2 {
    width: 250px;
    height: max-content;
    font-size: 22px;
  }

  .theater {
    height: 980px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .our_shows {
    width: 100%;
    height: 980px;
    gap: 50px;    
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-left: 0%;
  }

  .modal-parent {
    padding-top: 0px;
    height: 100%;
  }

  .modal-wrapper {
    height: 80%;
    width: 110%;
  }

  .modal {
    width: 85%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
    padding: 10px 5px 5px 5px;
  }

  .modal_info {
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  p.modal_text {
    font-size: 14px;
  }

  h2.modal_title {
    font-size: 25px;
  }

  .modal_gallery_all {
    height: auto;
    margin-top: 30px;
    width: 90%;
    height: 90%;
  }

  .modal_card_image {
    max-height: 176px !important;
  }

  .buy_ticket {
    font-size: 13px;
  }

  .modal_gallery_nav {
    margin-top: 10px;
  }


  #affiche_page {
    height: 700px;
    min-height: 700px;
  }

  .affiche_page_heading {
    font-size: 55px;
    padding-left: 45px;
    padding-bottom: 10px;
  }

  .afisha_day.afisha_text {
    height: auto;
    font-size: 25px;
  }

  .afisha_text {
    font-size: 17px;
  }

  .afisha_ticket {
    font-size: 15px;
    border: 1px solid #6c879d;
  }

  .afisha_info {
    text-align: center;
  }

  .afisha_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .afisha_description {
    width: 250px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #6c879d;
    margin-bottom: 20px;
  }

  .afisha_day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .afisha_event {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 200px;
    border-bottom: 1.5px solid #6c879d;
    padding: 10px 20px 40px 20px;
    margin-top: 30px;
  }

  #actors_page {
    height: 660px;
    min-height: 660px !important;
  }

  .actors_page_heading {
    font-size: 55px;
    padding: 75px 0px 45px 45px;
  }

  .theatre_block_images {
    width: 300px;
    height: 300px;
  }

  #contacts_page {
    height: 950px;
    min-height: 950px;
  }

  .contacts_page_heading {
    font-size: 55px;
  }

  .contacts_page_description{
    font-size: 15px !important;
  }

  .contacts_table {
    display: none;
  }

  .contacts_table_media {
    display: block;
  }

  .about_us_content {
    display: none;
  }

  .about_us_content_media {
    display: block;
  }

  .table_heading_with_padding {
    padding-top: 50px !important;
    font-size: 20px !important;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 70px;
  }

  .contact_heading {
    font-size: 23px !important;
  }

  .contact_person {
    width: 250px;
    font-size: 15px;
  }

  .contact_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

  .contact_info_1 {
    margin-top: 40px;
  }

  .google_form_button {
    font-size: 16px;
  }

  .fa-brands {
    font-size: 45px;
  }

  .fa-brands.fa-youtube {
    margin: 0px;
  }
}

@media screen and (min-width: 544px) and (max-width: 575px){
  .text{
    height: 15%;
  }
}


@media screen and (min-width: 576px) and (max-width: 767px) {
  .nav_link{
    font-size: 1.3em;
  }

  .logo {
    padding-left: 1em;
  }

  .logo img {
    height: 3em;
  }


  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.2s ease-in-out;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked~.menu {
    right: 0;
  }

  #initial_block h1 {
    font-size: 5em;
    padding: 0px 30px 0px 30px;
  }

  #initial_block h2 {
    font-size: 2.1em;
  }

  .initial_text_overlay_top{
    top: 64px;
  }

  .initial_text_overlay_bottom{
    bottom: 125px;
  }

  .scroll_down_text{
    font-size: 1.17em;
  }  

  .scroll_down_container{
    text-underline-offset: 0.25em;
  }

  .about_project_block_overlay h3 {
    font-size: 1.3em;
  }

  #about_us_block {
    height: fit-content;
    min-height: fit-content;
  }

  .about_us_block_heading {
    font-size: 90px;
    padding-bottom: 30px;
    padding-left: 45px;
  }

  .about_us_block_paragraph h3 {
    font-size: 1.3em;
  }

  .about_us_img img {
    width: 300px !important;
    height: 300px !important;
  }

  /* .about_us_content>div {
    flex: 0 0 48%;
    max-width: 48%;
  } */
  
  .about_us_cards h2 {
    font-size: 28px;
  }

  .about_us_cards p {
    font-size: 22px;
  }

  .actors_cards h2{
    font-size: 22px;
  }

  #theatre_block{
    height: 700px;
    min-height: 700px;
  }

  .theatre_block_heading {
    font-size: 90px;
    padding-bottom: 30px;
    padding-left: 45px;
  }


  #call-form {
    width: 200px;
    height: 330px;
    font-size: 20px;
  }

  #call-form-2 {
    width: 200px;
    height: 330px;
    font-size: 20px;
  }

  .theater {
    height: 428px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our_shows {
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }

  .modal-parent {
    padding-top: 0px;
    height: 100%;
  }

  .modal-wrapper {
    height: 80%;
    width: 110%;
  }

  .modal {
    width: 85%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
    padding: 15px 5px 15px 5px;  
  }

  .modal_info {
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  p.modal_text {
    font-size: 15px;
  }

  h2.modal_title {
    font-size: 28px;
  }

  .modal_gallery {
    height: 250px !important;
  }

  .modal_gallery_all {
    margin-top: 30px;
    width: 90%;
    height: 500px !important;
  }

  .modal_card_image {
    max-height: 250px !important;
  }

  .buy_ticket {
    font-size: 13px;
  }

  #affiche_page {
    height: 1050px;
    min-height: 1050px;
  }

  .affiche_page_heading {
    font-size: 90px;
    padding-bottom: 30px;
    padding-left: 45px;
  }

  .afisha_day.afisha_text {
    height: auto;
    font-size: 25px;
  }

  .afisha_text {
    font-size: 20px;
  }

  .afisha_ticket {
    font-size: 15px;
    border: 1px solid #6c879d;
  }

  .afisha_info {
    text-align: center;
  }

  .afisha_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .afisha_description {
    width: 450px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #6c879d;
    margin-bottom: 20px;
  }

  .afisha_day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .afisha_event {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 160px;
    border-bottom: 1.5px solid #6c879d;
    padding: 10px 20px 40px 20px;
    margin-top: 30px;
  }

  .afisha_action {
    margin-left: 0;
  }


  .actors_page_heading {
    font-size: 90px;
    padding-bottom: 70px;
    padding-left: 45px;
  }

  #contacts_page {
    height: 950px;
    min-height: 950px;
  }

  .contacts_page_heading {
    font-size: 90px;
  }

  .contacts_table {
    display: none;
  }

  .contacts_table_media {
    display: block;
  }

  .about_us_content {
    display: none;
  }

  .about_us_content_media {
    display: block;
  }

  .table_heading_with_padding {
    padding-top: 50px !important;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 70px;
  }

  .google_form_button {
    font-size: 16px;
  }
}


@media screen and (min-width: 656px) and (max-width: 767px){
  .initial_text_overlay_top{
    top: 64px;
  }

  .text{
    height: 18%;
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {

  .nav_bar {
    height: 3.16em;
  }

  .nav_link{
    font-size: 1.1em;
  }

  .logo {
    padding-left: 1em;
  }

  .logo img {
    height: 4em;
  }

  .text{
    height: 20%;
  }

  #initial_block h1 {
    font-size: 5.5em;
    padding: 0px 30px 0px 30px;
  }

  #initial_block h2 {
    font-size: 2.1em;
  }

  .initial_text_overlay_top{
    top: 64px;
  }

  .initial_text_overlay_bottom{
    bottom: 100px;
  }

  .scroll_down_text {
    font-size: 1.17em;
  }
  .scroll_down_container{
    text-underline-offset: 0.25em;
  }

  .about_project_block_overlay h3 {
    font-size: 1.6em;
  }

  #about_us_block {
    height: fit-content;
    min-height: fit-content;
  }

  .about_us_block_heading {
    font-size: 95px;
  }

  .about_us_block_paragraph h3 {
    font-size: 1.6em;
  }

    .about_us_content>div {
      flex: 0 0 48%;
      max-width: 48%;
    }

  .theatre_block_heading {
    font-size: 95px;
  }

  #call-form {
    width: 275px;
    height: 400px;
  }

  #call-form-2 {
    width: 275px;
    height: 400px;
  }

  .theater {
    height: 428px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our_shows {
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }

  .modal-parent {
    padding-top: 0px;
    height: 100%;
  }

  .modal-wrapper {
    height: 80%;
    width: 110%;
  }

  .modal {
    width: 85%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
    padding: 15px 5px 15px 5px;
  }

  .modal_info {
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  p.modal_text {
    font-size: 20px;
  }

  .modal_gallery_all {
    margin-top: 30px;
    width: 500px;
    height: 500px;
  }

  .swiper {
    align-items: center;
  }

  .modal_card_image {
    width: 650px;
    max-height: 337px !important;
  }

  .modal_title {
    padding-top: 40px;
  }

  .affiche_page_heading {
    font-size: 95px;
  }

  .actors_page_heading {
    font-size: 95px;
  }

  .modal_gallery_nav {
    padding-bottom: 20px;
  }

  .contacts_page_heading {
    font-size: 95px;
    padding-bottom: 20px;

  .contacts_page_description{
    font-size: 15px !important;
  }

  .table_heading {
    font-size: 20px !important;
  }

  .table_body_row {
    font-size: 15px !important;
  }
}
}

@media screen and (min-width: 992px) and (max-width: 1119px) {

  .nav_bar {
    height: 3.16em;
  }

  .logo {
    padding-left: 1em;
  }

  .logo img {
    height: 4em;
  }

  .text{
    height: 30%;
  }

  #initial_block h1 {
    font-size: 7em;
  }

  #initial_block h2 {
    font-size: 2.9em;
  }

  #about_us_block {
    height: fit-content;
    min-height: fit-content;
  }

  .about_us_block_heading {
    font-size: 105px;
  }

  .about_us_cards h2 {
    font-size: 34px;
  }

  .actors_cards h2{
    font-size: 34px;
  }


  .theatre_block_heading {
    font-size: 105px;
  }

  .scroll_down_text {
    font-size: 1.35em;
  }  
  
  .scroll_down_container{
    text-underline-offset: 0.25em;
  }

  #call-form {
    width: 275px;
    height: 400px;
  }

  #call-form-2 {
    width: 275px;
    height: 400px;
  }

  .theater {
    height: 428px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our_shows {
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }

  .modal-parent {
    padding-top: 0px;
    height: 100%;
  }

  .modal-wrapper {
    height: 80%;
    width: 110%;
  }

  .modal {
    width: 85%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
  }

  .modal_info {
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 50px;
  }

  p.modal_text {
    font-size: 20px;
  }

  .modal_gallery_all {
    margin-top: 30px;
    width: 650px;
    height: 500px;
  }


  .swiper{
    align-items: center;
  }

  .modal_card_image{
    width: 650px;
    max-height: 414px !important;
  }

  .modal_gallery_nav{
    margin-bottom: 30px;
  }
  
  .affiche_page_heading {
    font-size: 105px;
  }

  .actors_page_heading {
    font-size: 105px;
  }

  .contacts_page_heading {
    font-size: 105px;
  }
}


@media screen and (min-width: 1120px) and (max-width: 1215px){
  .text{
    height: 30%;
  }

  #initial_block h1 {
    font-size: 7em;
  }

  #initial_block h2 {
    font-size: 2.9em;
  }

  .scroll_down_text {
    font-size: 1.35em;
  }

  .scroll_down_container{
    text-underline-offset: 0.25em;
  }

  .about_us_cards h2 {
    font-size: 34px;
  }

  .actors_cards h2{
    font-size: 34px;
  }


  .modal-parent {
    padding-top: 0px;
    height: 100%;
  }

  .modal-wrapper {
    height: 80%;
    width: 110%;
  }

  .modal {
    width: 85%;
    height: 85%;
    overflow: scroll;
    margin: 0px;
  }

  .modal_card_image {
    width: 615px;
  }
} 


@media screen and (max-height: 730px) {
  #initial_block{
    min-height: 730px;
  }

  #about_project_block{
    min-height: 730px;
  }

  #about_us_block {
    min-height: fit-content;
  }

  #theatre_block {
    min-height: 730px;
  }

  #affiche_page {
    min-height: 730px;
  }

  #actors_page {
    min-height: 730px;
  }

  #contacts_page {
    min-height: 730px;
  }
}

@media screen and (min-width: 1563px) and (max-width: 1793px) {
  #about_us_block {
    height: fit-content;
    min-height: fit-content;
  }
}

@media screen and (min-width: 1216px) and (max-width: 1562px) {
  #about_us_block {
    height: fit-content;
    min-height: fit-content;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1900px) {
  .initial_text_overlay_bottom{
    bottom: 50px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .initial_text_overlay_bottom{
    bottom: 50px;
  }
}