/* Mak bold */
@font-face{
  font-family: 'Mak-bold';
  src: url('park_fonts/mak-bold.otf') format('opentype');
  font-weight: bold;
}

/* Mak light */
@font-face {
  font-family: 'Mak-light';
  src: url('park_fonts/mak-light.otf') format('opntype');
  font-weight: 300;
}

/* Hero Bold */
@font-face {
  font-family: 'Hero-bold';
  src: url('park_fonts/Hero-Bold.otf') format('opentype');
  font-weight: bold;
}

/* Hero Light */
@font-face {
  font-family: 'Hero-light';
  src: url('park_fonts/Hero-Light.otf') format('opentype');
  font-weight: 300;
}

/* Hero Regular */
@font-face {
  font-family: 'Hero-regular';
  src: url('park_fonts/Hero-Regular.otf') format('opentype');
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0px;
  width: 100%;
}

/* ---------- Header --------- */
header{
  height: 4em;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.nav_top{
  width: 100%;
}

.logo_photo{
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  left: 3.125em;
  padding-left: 1em;
}

.logo img {
  height: 4em;
}

.nav_bar {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  position: relative;
}

.menu {
  display: flex;
}

.menu li a {
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  margin: 0 0.625em;
  font-family: 'Hero-regular';
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  transition: color 0.3s ease-in-out;
  font-size: 1.2em;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 1.25em;
  transform: translateY(-50%);
}

.close-menu {
  top: 1.25em;
  right: 1.25em;
}

#check {
  display: none;
}

/* ---------- /Header --------- */



/* ---------- first_page --------- */

#first_page{
  position: relative;
  background-image: url('media/other_media/Pages/Page_1_BG.webp');
  background-position: 50% 50%;
  background-size: cover;
  height: 800px;
  min-height: 800px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.text{
  position: relative;
  height: 32%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.h1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

#first_page h1{
  font-size: 8.5em;
  margin: 0px;
  font-family: 'Mak-bold';
  color: white;
  line-height: 0.9;
}

#first_page h2 {
  font-size: 3.8em;
  font-family: 'Hero-light';
  color: white;
  line-height: 0.95;
  margin: 0px;
  text-align: center;
}

.h2_block{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll_down_container{
  right: 5vh;
  bottom: 5vh;
  width: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: bounce 2s infinite;
}


.scroll_down_text{
  font-family: 'Hero-regular';
  color: white;
  font-size: 1.56em;
  margin-bottom: 0.5em;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

/* ---------- /first_page --------- */



/* ---------- second_page --------- */

#second_page {
  background-image: url('media/other_media/Pages/Page_2_BG.webp');
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  height: 800px;
  min-height: 800px;
}

.second_page_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.second_page_overlay h3 {
  width: 55%;
  text-align: center;
  color: white;
  font-family: 'Hero-light';
  font-size: 1.5em;
  padding: 1.25px;
}

/* ---------- /second_page --------- */



/* ---------- third_page --------- */

#third_page {
  height: 800px;
  min-height: 800px;
  background-image: url('media/other_media/Pages/Page_3_BG.webp');
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.third_page_heading{
  font-family: 'Mak-bold';
  font-size: 7em;
  margin: 0px;
  padding: 75px 0px 43px 75px;
  color: white;
}

.we_gallery_content {
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
}

.we_cards {
  text-decoration: none;
  flex-shrink: 0;
}

.we_cards h2{
  font-family: 'Mak-bold';
  color: white;
  font-size: 2.6rem;
  margin: 30px 0 5px;
  text-align: center;
}

.we_cards span {
  font-family: 'Hero-light';
  color: white;
  font-size: 1.5rem;
}

.we_gallery_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.9em;
  gap: 3em;
}

.we_gallery__btn {
  width: 28px;
  height: 28px;
}

.we_gallery__btn svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: white;
}

/* ---------- /third_page --------- */



/* ---------- fourth_page --------- */

#fourth_page {
  height: 950px;
  min-height: 950px;
  background-image: url('media/other_media/Pages/Page_7_BG.webp');
  background-position: 50% 50%;
  background-size: cover;
  position: relative;

}

.fourth_page_heading {
  font-family: 'Mak-bold';
  font-size: 7em;
  margin: 0px;
  padding: 75px 0px 70px 75px;
  color: white;
}


/* модальное окно №1 */

.our_shows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#call-form {
  /* font-family: "Hero-regular";
  font-size: 2em; */
  width: 350px;
  height: 450px;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

/* .btn {
  border-radius: 3px;
  padding: 16px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  background-color: white;
} */

.modal_gallery_all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.modal_gallery {
  width: 100%;
}

.modal_swiper {
  width: 100%;
}

.modal_swiper_slide {
  width: 100%;
}

.modal_gallery_cards {
  flex-shrink: 0;
}

.modal_card_image {
  border-radius: 5px;
  max-height: 40em !important;
}

.modal_gallery_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}

.modal_gallery__btn {
  width: 28px;
  height: 28px;
}

.modal_gallery__btn svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: white;
}

/* модальное окно №2 */

.modal-parent {
  position: fixed;
  inset: 0;
  z-index: 500;
  display: flex;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  height: 100%;
  padding-top: 0px;
}

.modal-parent--open {
  opacity: 1;
  visibility: visible;
}

.modal {
  margin: 30px 0;
  width: 100%;
  height: 85%;
  border-radius: 5px;
  padding: 40px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}

.modal_info {
  width: 80%;
  margin-left: 10px;
  margin-bottom: 50px;
}

.modal_title {
  margin: 0;
  margin-bottom: 30px;
  text-align: start;
  font-family: "Hero-regular";
}

h2.modal_title {
  font-size: 2.5em;
}

.modal_text {
  font-family: "Hero-regular";
  width: 100%;
  margin-bottom: 20px;
  text-align: start;
}

p.modal_text {
  font-size: 18px;
}

.buy_ticket {
  font-family: "Hero-regular";
  border-radius: 5px;
  border: 1px solid black;
  padding: 7px;
  text-decoration: none;
  color: black;
}

#call-form-2 {
  /* font-family: "Hero-regular";
  font-size: 2em; */
  width: 350px;
  height: 450px;  
}

.btn-reset_2 {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

/* .btn_2 {
  border-radius: 3px;
  padding: 16px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  background-color: white;
} */

.modal-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-lock {
  overflow: hidden;
  position: fixed;
  /* Для предотвращения прокрутки на iOS */
  width: 100%;
}

/* ---------- /fourth_page --------- */



/* ---------- fifth_page --------- */

#fifth_page {
  height: 800px;
  min-height: 800px;
  width: 100%;
  background-image: url('media/other_media/Pages/Page_6_BG.webp');
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.fifth_page_heading {
  font-family: 'Mak-bold';
  font-size: 7em;
  color: white;
  padding: 75px 0px 120px 75px;
}

.afisha{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.afisha_event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #6c879d;
  padding: 10px 20px;
  width: 80%;
}

.afisha_description{
  display: flex;
  flex-direction: row;
}

.afisha_date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
}

.afisha_day {
  font-size: 36px;
  line-height: 1;
}

.afisha_text{
  color: white;
  font-family: "Hero-regular";
}

.afisha_month {
  font-size: 18px;
}

.afisha_title {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.afisha_info {
  flex-grow: 1;
  padding-left: 30px;
}

.afisha_time {
  font-size: 18px;
}

.afisha_action {
  margin-left: 20px;
}

.afisha_ticket{
  color: white;
  border: 1px solid white;
}

/* ---------- /fifth_page --------- */



/* ---------- sixth_page --------- */

#sixth_page {
  height: 800px;
  min-height: 800px;
  background-image: url('media/other_media/Pages/Page_8_BG.webp');
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.sixth_page_heading {
  font-family: 'Mak-bold';
  font-size: 7em;
  color: white;
  padding: 75px 0px 91px 75px;
}

.actors_gallery_content {
  overflow: hidden;
}

.actors_cards {
  text-decoration: none;
  flex-shrink: 0;
}

.actors_gallery_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}

.actors_gallery__btn {
  width: 28px;
  height: 28px;
}

.actors_gallery__btn svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: white;
}

/* ---------- /sixth_page --------- */



/* ---------- seventh_page --------- */

#seventh_page {
  height: 700px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url('media/other_media/Pages/Page_9_BG.webp');
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.seventh_page_content {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seventh_page_heading {
  font-family: 'Mak-bold';
  font-size: 7em;
  margin: 0px;
  color: white;
}

.seventh_page_overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.contacts {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
}

.contact_info_1 {
  width: 380px !important;
}

.contact_info_2 {
  width: 380px !important;
}

.contact_info {
  width: 40%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.contact_info h3 {
  text-align: start;
  color: white;
  font-family: 'Hero-bold';
}

.contact_info p {
  color: white;
  font-family: 'Hero-regular';
}

.contact_person {
  font-size: 1em;
  margin-top: 20px;
  text-align: start;
}

.contact_name {
  font-size: 1.5em;
  text-align: start;
}

.contact_email {
  text-align: start;
  margin-top: 5px;
}

.contact_description {
  text-align: start;
}

.contact-link {
  color: white;
  text-decoration: none;
}

.media_links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.media_links_2 {
  margin-top: 97px;
  display: flex;
  justify-content: center;
}

.social_links i {
  margin-right: 10px;
}

.social_links a {
  text-decoration: none;
}



.fa-instagram {
  font-size: 55px;
}

.fa-youtube {
  font-size: 55px;
}

.fa-telegram {
  font-size: 55px;
}

.fa-vk {
  font-size: 55px;
}

.google_form_button {
  color: white;
  border: 1px solid white;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- /seventh_page --------- */